body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    gap: 50px;
    grid-row: 1 / 3;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.header .user-greeting {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.header .user-greeting .user-tag {
    grid-column: 2;
}

.main-content {
    grid-column: 2;
}
